@import 'variables';
@import 'mixins';

// Base
@import 'base/fonts';
@import 'base/base';

// Components
@import 'components/header';
@import 'components/footer';

// Pages
@import 'pages/index';

.notice{
    margin:auto;
    padding:10px;
    width:70%;
    height:100px;
    background-color:#d4edda;
    border-radius: 5px;
    border-color:#c3e6cb;
    .alertbox {
        color:#155724;
        text-align: left;
        a{color:#c0010c;}
        span {color:#c0010c;}
    }
}

.pub{
    margin:auto;
    padding:40px;
    width:70%;
    height:100px;
    text-align: center;
    h2{color:#c0010c;font-weight: 600;}
    p{color: #555;font-size:20px;}
    
}
.sixgrid{
        width: 80%;
        margin-top:50px;
        margin-left:15%;
        height:800px;
        display: grid;
        grid-template-columns: 30% 30% 30%;
       
        padding: 10px;
            .gridphoto{
                border-radius:10px;
                padding: 20px;
                font-size: 30px;
                text-align: center;
                color: #fff;
                display: flex;
                align-items: stretch;
                :hover{transform: scale(1);
                    cursor: pointer;
                   } 
                .text{margin-top:70%}
                .image1{background-image:url('https://atlasvoyages.com/assets/img/Immersionsuden4x4.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                   width:100%;
                   
                border-radius:5px;}
                .image2{background-image:url('https://atlasvoyages.com/assets/img/Natureetdcouvertequestre.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width:100%;
                border-radius:5px;}
                .image3{background-image:url('https://atlasvoyages.com/assets/img/Detente&activitesaquatiques.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width:100%;
                border-radius:5px;}
                .image4{background-image:url('https://atlasvoyages.com/assets/img/Trek.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width:100%;
                border-radius:5px;}
                .image5{background-image:url('https://atlasvoyages.com/assets/img/Lesincontournablesdunord.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width:100%;
                border-radius:5px;}
                 .image6{background-image:url('https://atlasvoyages.com/assets/img/Laportedudsert.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width:100%;
                border-radius:5px;}
            }
      
}

.photoslide{
    width: 70%;
   margin:auto;
    display: flex;
    padding: 0px;
    height: 220px;
    justify-content: space-between;
    .slide{
        border-radius:10px;
        padding: 20px;
        font-size: 25px;
        text-align: center;
        width:33.33%;
        display: flex;
        align-items: stretch;
        
        .text{margin-top:30%;color:#fff}
    .image1{background-image:url('https://atlasvoyages.com/assets/img/Marrakech.jpg');background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
    border-radius:5px;}
    .image2{background-image:url('https://atlasvoyages.com/assets/img/Agadir-Marina.jpg');background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
    border-radius:5px;}
    .image3{background-image:url('https://atlasvoyages.com/assets/img/slider/larache.jpg');background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
    border-radius:5px;}
    }
}


// .wrapper{
//     color:#fff;
//     align-content: end;
//     width:70%;
//     margin:0 auto;
//     display:grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-auto-rows:minmax(200px,auto);
//     grid-gap:20px;
//     grid-template-areas:
//     "lefttop middletop righttop"
//     "lefttop middlebottom righttop"
//     "lefttop middlebottom righttop"
//     "leftbottom middlebottom rightbottom"
//     ;
//     * {border-radius: 5px;font-size: 20px;
        
//         text-align: center;}

        
   
//     .lefttop{
//         span{margin:auto}
//         grid-area:lefttop;
//     background-image: url("https://blog.atlasvoyages.com/wp-content/uploads/2020/07/Saidia-812x1444.jpg");
// background-size:cover;}

//     .leftbottom{grid-area:leftbottom;
//          background-image: url("https://blog.atlasvoyages.com/wp-content/uploads/2020/01/Cappadoce-turkey-1046x698.jpg");
//         background-size:cover;}

//     .middletop{grid-area:middletop;
//     background-image: url("https://blog.atlasvoyages.com/wp-content/uploads/2020/07/Changi-Singapour1-1-1271x698.jpg");
//    background-size:cover; }

//     .middlebottom{grid-area:middlebottom;
//     background-image: url("https://blog.atlasvoyages.com/wp-content/uploads/2020/07/just-married-lune-de-miel-812x1444.jpg");
//     background-size:cover;}

//     .righttop{grid-area:righttop;
//     background-image: url("https://blog.atlasvoyages.com/wp-content/uploads/2020/07/shutterstock_1432920875-812x1444.jpg");
//    background-size:cover; }

//     .rightbottom{grid-area:rightbottom;
//     background-image: url("https://blog.atlasvoyages.com/wp-content/uploads/2020/07/gnaoua-1920X553.jpg");
//   background-size:cover;  }
// }

.wrapper{
    color:#fff;
    font-size: 18px;
font-weight: 700;

    align-content: flex-end;
    width:70%;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows:minmax(200px,auto);
    grid-gap:20px;
    
        div{ 
            border-radius: 5px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background-size:cover;
           
                padding:50px;
               
            
        }
        
    .lefttop{
        background-image: url("https://blog.atlasvoyages.com/wp-content/uploads/2020/07/Saidia-812x1444.jpg");
        grid-column:1;
        grid-row:1/4;
        
    }
    .leftbottom{
        background-image:url("https://blog.atlasvoyages.com/wp-content/uploads/2020/01/Cappadoce-turkey-1046x698.jpg");
        grid-column:1;
        grid-row:4/5;
    }
    .middletop{
        background-image: url("https://blog.atlasvoyages.com/wp-content/uploads/2020/07/Changi-Singapour1-1-1271x698.jpg");
       
    }
    .middlebottom{
        background-image: url("https://blog.atlasvoyages.com/wp-content/uploads/2020/07/just-married-lune-de-miel-812x1444.jpg");
        grid-column:2;
        grid-row: 2/5;
    }
    .righttop{
        background-image: url("https://blog.atlasvoyages.com/wp-content/uploads/2020/07/shutterstock_1432920875-812x1444.jpg");
        grid-row: 1/4;
    }
    .rightbottom{
        background-image: url("https://blog.atlasvoyages.com/wp-content/uploads/2020/07/gnaoua-1920X553.jpg");
    }
}