
nav{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow: hidden;
 
  position: fixed;
  top: 0;



    ul{
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin-right:30px;
        li {
            padding: 0 8px 15px 8px;
            list-style-type:none;
        }
    }
}
header{
    margin-bottom: 30px;
    background: url("https://atlasvoyages.com/assets/img/atlas-voyages-home.jpg");
    height:600px;
    background-repeat: no-repeat;
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items: center;
        .search{
            padding:10px;
            margin-top: 100px;
                .button{
                   
                    display:flex;
                    justify-content: flex-start;
                        
                                button{
                                    padding:10px;
                                    color: #fff;
                                    border:0px;
                                    border-radius: 5px;
                                    height: 40px;
                                    margin-right:5px;
                                    background: rgba(0, 0, 0, 0.7);
                                }
                                .hotelbutton{
                                   
                                    
                                   
                                   
                                    width:100px;
                                    height: 40px;
                                    background-color:#c0010c;
                                    }
                        }
                }
            

        .form{

                    input{
                        width: 250px;
                        height: 50px;
                        
                    }

                    .rechercher{
                        color:#fff;
                        border:0px;
                        padding:0px;
                        margin-left:10px;
                        border-radius: 5px;
                        width: 250px;
                        height: 50px;
                        background-color:#c0010c;
                    }
                            select{
                                width: 250px;
                                height: 50px;
                            }
           }
}